@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --border: 0 0% 85%;
    --input: 0 0% 85%;
  }
}

@layer components {
  .bg-app-gradient {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(64.9deg, #004eec, #7ca8ff);
  }
}